# Arquivos de configuração de ambiente
.env

# Dependências do Node.js
/node_modules

# Arquivos de banco de dados
*.sqlite
*.sqlite3

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pasta de build (se aplicável)
/build
/dist
